 *{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  
 }
 .container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}